<!DOCTYPE html>
<html>
<head>
  <title>Man tracking Sensor</title>
  <link rel="stylesheet" type="text/css" href="https://github.com/oriraccoon/node-express/blob/main/public/stylesheets/style.css">
</head>
<body>
  <h1>Man tracking Sensor</h1>

  <!-- 메인 화면 -->
  <h2>Login</h2>
  <form id="loginForm">
    <label for="loginUsername">ID:</label>
    <input type="text" id="loginUsername" required>
    <br>
    <label for="loginPassword">PW:</label>
    <input type="password" id="loginPassword" required>
    <br>
    <button type="submit">Login</button>
    <button id="signupButton">Join</button>
  </form>

  <!-- 회원가입 창 -->
  <div id="signupModal" class="modal">
    <div class="modal-content">
      <h2>Join</h2>
      <form id="signupForm">
        <label for="signupUsername">ID:</label>
        <input type="text" id="signupUsername" required>
        <br>
        <label for="signupPassword">PW:</label>
        <input type="password" id="signupPassword" required>
        <br>
        <button type="submit">Done</button>
        <button id="closeSignupButton">Cancle</button>
      </form>
    </div>
  </div>

  <!-- 결과 메시지 -->
  <div id="message"></div>

  <script src="https://github.com/oriraccoon/node-express/blob/main/public/script/script.js"></script>
</body>
</html>
